{% extends '/times/base.html' %}

{% block title %}ミニブログ - {{ page.site_title | striptags }}{% endblock %}
{% block og_title %}ミニブログ - {{ page.site_title | striptags }}{% endblock %}

{% block body %}
<div style="padding: .5rem;">
  <a href="/">上へ</a>
</div>

<hr>

<h1>ミニブログ</h1>

<table>
  <tr>
    <th>タイトル
    <th>日付
    <th>タグ
{%- for article in articles %}
  <tr>
    <td>
      <a href="{{ page.path_to(article) }}">{{ article.title | striptags }}</a>
    <td>
      {{ article.date.date() }}
    <td>
      <div class="article-tags">
      {%- for tag in article.tags %}
        <a href="{{ article.path_to('/times/index_tag.yml', group_value=tag, npage=1) }}" class="article-tag">
          {{ tag }}
        </a>
      {%- endfor -%}
      </div>
{% endfor %}
</table>

{% from 'miyadaiku.themes.sample.blog!blog_macros.html' import index_pagination %}
{{ index_pagination(page, group_value, num_pages, cur_page, is_last) }}

<hr>

<div style="padding: .5rem;">
  <a href="/">上へ</a>
</div>
{% endblock body %}
