{% extends '/times/base.html' %}

{% block body %}
<div style="padding: .5rem;">
  {% if len(content.contentpath[0]) > 2 %}
  <a href="../../">ミニブログ トップへ</a>
  {% endif -%}

  {%- if len(content.contentpath[0]) not in (1, 3) %}
  <a href="../">上へ</a>
  {% endif %}
</div>

<hr>
{% from 'macros/article_metadata.html' import article_metadata -%}
{{- article_metadata(page, index_category='/times/index_category.yml', index_tag='/times/index_tag.yml') }}

{{ page.html }}

<hr>

<div style="padding: .5rem;">
  {% if len(content.contentpath[0]) > 2 %}
  <a href="../../">ミニブログ トップへ</a>
  {% endif -%}

  {%- if len(content.contentpath[0]) not in (1, 3) %}
  <a href="../">上へ</a>
  {% endif %}
</div>
{% endblock body %}
