{# https://github.com/miyadaiku/miyadaiku/blob/master/miyadaiku/themes/base/templates/base.html #}
{% extends 'miyadaiku.themes.base!base.html' %}

{% block title %}{% if not page.get_config('no_page_title', false) %}{{ page.title | striptags }} - {% endif %}えやみぐさ{% endblock %}
{% set og_title %}{% block og_title %}{% if not page.get_config('no_page_title', false) %}{{ page.title | striptags }} - {% endif %}えやみぐさ{% endblock %}{% endset %}

{% from 'macros/article_metadata.html' import article_metadata %}
{% from 'miyadaiku.themes.sample.blog!blog_macros.html' import index_pagination %}

{% block head %}
{{- super().strip() }}

{% from 'macros/meta_favicon.html' import meta_favicon -%}
{{- meta_favicon(page).strip() }}

{% from 'macros/meta_ogp.html' import meta_ogp -%}
{{- meta_ogp(page, og_title=og_title, abstract_length=128).strip() }}

{% from 'macros/meta_keywords.html' import meta_keywords -%}
{{- meta_keywords(page).strip() }}

{% from 'macros/twitter_card.html' import twitter_card -%}
{{- twitter_card(page).strip() }}

<link href="{{ page.load('/blog/atom.yml').url }}" type="application/atom+xml" rel="alternate" title="えやみぐさ Atom Feed" />
<link href="{{ page.load('/blog/rss.yml').url }}" type="application/rss+xml" rel="alternate" title="えやみぐさ RSS Feed" />

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ page.path_to('/static/aoirint-blog/css/style.css') }}">

{{ fontawesome.load_css(page) }}
{{ pygments.load_css(page) }}

{{ macros.google_analytics().strip() }}

<script src="{{ page.path_to('/static/aoirint-blog/js/main.js') }}"></script>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock head %}

{% block body %}

<nav class="sitebar">
  {% if page.get_config('custom_search_engine_id', None) %}
  <a href="https://cse.google.com/cse?cx={{ page.custom_search_engine_id }}" target="_blank" class="sitebar-button">
    <i class="fas fa-search"></i>
  </a>
  {% endif %}

  <a href="{{ page.path_to('/blog/atom.yml') }}" title="RSS Feed" class="sitebar-button">
    <i class="fas fa-rss"></i>
  </a>

  {% if page.get_config('twitter_name', None) %}
  <a href="https://twitter.com/{{ page.twitter_name }}" target="_blank" title="Twitter @{{ page.twitter_name }}" class="sitebar-button">
    <i class="fab fa-twitter"></i>
  </a>
  {% endif %}

  {% if page.get_config('github_name', None) %}
  <a href="https://github.com/{{ page.github_name }}" target="_blank" title="GitHub @{{ page.twitter_name }}" class="sitebar-button">
    <i class="fab fa-github"></i>
  </a>
  {% endif %}

  {% if page.get_config('author_url', None) %}
  <a href="{{ page.path_to('/index.md') }}" title="Home" class="sitebar-button">
    <i class="fas fa-home"></i>
  </a>
  {% endif %}

  <div class="sitebar-title-box">
    <a href="{{ page.path_to('/blog/index.md') }}" class="sitebar-title">
      えやみぐさ
    </a>
    <div class="sitebar-description">
      Blog by aoirint
    </div>
  </div>

  <button class="toggle-tocbar sitebar-button" type="button" onclick="toggleTocBarIfSmartphone();">
    <i class="fas fa-list"></i>
  </button>

</nav>

<main class="main-content">
{% block content %}
{% endblock content %}
</main>

<aside class="tocbar-box">
  <nav class="tocbar fixed-scrollable">
{% block tocbar %}
{% endblock tocbar %}
  </nav>
</aside>

<footer class="footer">
{% if page.get_config('copyright', None) %}
  <p class="copyright-text">
    {{ page.copyright }}
{% endif %}
  <p class="theme-text">
    Theme
    <a href="https://github.com/aoirint/aoirint-miyadaiku-theme-blog">aoirint-miyadaiku-theme-blog</a>.
  <p class="poweredby-text">
    Powered by
    <a href="https://github.com/miyadaiku/miyadaiku">Miyadaiku</a>.
</footer>

{% endblock body %}
