{% extends 'base.html' %}

{% block title %}
  {{ page.site_title | striptags }}
{% endblock %}


{% block content %}
<div class="container">

{% block article_index %}
  <div class="article-index">

{% for article in articles %}
{% block article_box scoped %}

    <article class="article">
      <h2 class="article-title"><a href="{{ page.path_to(article) }}">{{ article.title }}</a></h2>

      {{ article_metadata(article) }}

      <div class='article-summary'>{{ article.get_abstract(page.abstract_length if page.abstract_length else 256) | striptags }}</div>
    </article>

    <hr>

{% endblock article_box %}
{% endfor %}
  </div>

</div>
{% endblock article_index %}

{% block pagination %}
  {{ index_pagination(page, group_value, num_pages, cur_page, is_last) }}
{% endblock pagination %}

{% endblock content %}


{% block tocbar %}
  <h4>Categories</h4>
  <ul class="categories">
  {% for values, items in contents.group_items('category') %}
    <li>
      <a href="{{ page.path_to('/index_category.yml', group_value=values[0]) }}" class="category-item">
        {{ values[0] }} ({{ len(items) }})
      </a>
  {% endfor %}
  </ul>

  <h4>Tags</h4>
  <ul class="tags">
{% for values, items in contents.group_items('tags') %}
    <li>
      <a href="{{ page.path_to('/index_tag.yml', group_value=values[0]) }}" class="tag-item">
        {{ values[0] }} ({{ len(items) }})
      </a>
{% endfor %}
  </ul>
{% endblock tocbar %}
