{% extends 'base.html' %}


{% block content %}
<div class="container">

<article class="article">

<h1 class="article-title"><a href="{{ page.path_to(page) }}">{{ page.title }}</a></h1>

{{ article_metadata(page) }}

<div class="article-body">
  {{ page.html }}
</div>


</article>

</div>
{% endblock content %}


{% block tocbar %}
<script>
  generateTocBar(
    document.querySelector('.article-body'),
    document.querySelector('.tocbar'),
    document.querySelector('.article-title'),
  );
</script>
{% endblock tocbar %}
