{% extends 'miyadaiku.themes.base!base.html' %}

{% block head %}
  {{- super().strip() }}

  <link rel="shortcut icon" href="{{ page.path_to('/favicon.ico') }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.site_title }}{% if not page.get_config('no_page_title', false) and page.title %} / {{ page.title }}{% endif %}">
  <meta property="og:description" content="aoirint's website">
  <meta property="og:image" content="https://aoirint.com/static/images/avatar.png">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  {{ macros.google_analytics().strip() }}
{% endblock head %}

{% block title %}{{ page.site_title }}{% if not page.get_config('no_page_title', false) and page.title %} / {{ page.title }}{% endif %}{% endblock title %}

{% block body %}
{{ page.html }}
{% endblock body %}
