{% extends "common.html" %}

{% block title %}aoirint's Portfolio{% endblock title %}

{% block body %}
<div>
  <h1>
    {{ page.site_title }}
  </h1>

  <p>
    <img src="{{ page.path_to('/static/images/avatar.png') }}" width="128">

  <p>
    電気通信大学 B4

  <ul class="links">
    <li><a href="https://twitter.com/aoirint" target="_blank">Twitter</a>
    <li><a href="https://github.com/aoirint" target="_blank">GitHub</a>
  </ul>

  <div class="github-stats">
    <img src="https://github-readme-stats.vercel.app/api?username=aoirint&count_private=true&theme=slateorange" alt="aoirint's github stats" class="github-user-stats">
    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=aoirint&langs_count=9&layout=compact&theme=slateorange&hide=html,css" alt="Top Langs" class="github-lang-stats">
  </div>

  <section class="s-skills">
    <h2 class="section-title">スキル</h2>
    <table class="skills">
      <tr>
        <td>Python<td>普段づかい
      <tr>
        <td>Swift<td>主に業務（iOS）
      <tr>
        <td>TypeScript<td>これから
      <tr>
        <td>C#<td>Unity用
      <tr>
        <td>Java<td>主に古いコード。たまにAndroid
      <tr>
        <td>PHP<td>主に古いコード
      <tr>
        <td>C++<td>主にArduino/ESP32系の短いコード
    </table>
  </section>

  <section class="s-works">
    <h2 class="section-title">作品（展示・コンテストなど）</h2>

    <div class="works">
      <a href="https://imedia-lab.net/iml-projects/uplight/" target="_blank" class="work">
        <img src="{{ page.path_to('/static/images/works/uplight.jpg') }}" class="work-image">
        <div class="work-text">
          <h3 class="work-title">UPLIGHT：全周囲ディスプレイを搭載した携帯型ゲーム機</h3>
          <h4 class="work-year">2019/01-</h4>
          <h4 class="work-role">開発メンバー（電装、ミドルウェアほか）</h4>
          <ul class="work-tags">
            <li>Arduino</li>
            <li>スピーカ</li>
            <li>ステッピングモータ</li>
            <li>Unity</li>
            <li>C#</li>
            <li>MATLAB</li>
            <li>Python</li>
          </ul>
          <div class="work-description">TGS SOWN 2019 Best Technological Game Award 受賞</div>
        </div>
      </a>

      <div class="work">
        <img src="{{ page.path_to('/static/images/works/workshop.jpg') }}" class="work-image">
        <div class="work-text">
          <h3 class="work-title">テーブルトップディスプレイを活用したグループプログラミング学習ツール</h3>
          <h4 class="work-year">2018</h4>
          <h4 class="work-role">開発メンバー（フロントエンド、ミドルウェア）</h4>
          <ul class="work-tags">
            <li>Node.js</li>
            <li>WebSocket</li>
            <li>Unity</li>
            <li>C#</li>
          </ul>
          <div class="work-description"><a href="https://www.uec.ac.jp/news/announcement/2018/20180627_1107.html" target="_blank">UECものづくりコンテスト2018 株式会社フローベル賞</a> 受賞</div>
        </div>
      </div>

      <div class="work">
        <img src="{{ page.path_to('/static/images/works/floor_proj.jpg') }}" class="work-image">
        <div class="work-text">
          <h3 class="work-title">Kinectモーショントラッキングによる床プロジェクションゲーム</h3>
          <h4 class="work-year">2017</h4>
          <h4 class="work-role">開発メンバー（ゲーム）</h4>
          <ul class="work-tags">
            <li>Unity</li>
            <li>C#</li>
          </ul>
          <div class="work-description">大学文化祭（調布祭）2017 展示</div>
        </div>
      </div>

      <a href="https://gist.github.com/aoirint/d6bd55c0f4f02582ae7c4069b6486e4c" target="_blank" class="work">
        <img src="{{ page.path_to('/static/images/projects/blank.png') }}" class="work-image">
        <div class="work-text">
          <h3 class="work-title">mBed LCD Runner：1ボタンキャラクタディスプレイ障害物避けゲーム</h3>
          <h4 class="work-year">2016</h4>
          <h4 class="work-role">開発メンバー（主）</h4>
          <ul class="work-tags">
            <li>mBed</li>
            <li>C++</li>
            <li>キャラクタディスプレイ</li>
          </ul>
          <div class="work-description">高校文化祭2016 展示</div>
        </div>
      </a>

    </div>
  </section>

  <section class="s-projects">
    <h2 class="section-title">プロジェクト</h2>

    <div class="projects">
      <a href="https://github.com/aoirint/RoomSystem" target="_blank" class="project">
        <img src="{{ page.path_to('/static/images/projects/roomsystem.jpg') }}" class="project-image">
        <div class="project-text">
          <h3 class="project-title">RoomSystem</h3>
          <div class="project-year">2018-</div>
          <div class="project-role">個人開発</div>
          <ul class="project-tags">
            <li>環境センサ</li>
            <li>スピーカ</li>
            <li>Arduino</li>
            <li>Raspberry Pi</li>
            <li>Firebase</li>
            <li>React.ts</li>
            <li>Python</li>
          </ul>
          <div class="project-description">
            サークル室の環境情報をオンライン化
          </div>
        </div>
      </a>

      <a href="https://blog.aoirint.com/" target="_blank" class="project">
        <img src="{{ page.path_to('/static/images/projects/blog.png') }}" class="project-image">
        <div class="project-text">
          <h3 class="project-title">blog.aoirint.com</h3>
          <div class="project-year">2020-</div>
          <div class="project-role">個人開発</div>
          <ul class="project-tags">
            <li>静的サイトジェネレータ</li>
            <li>GitHub Actions</li>
            <li>Python</li>
          </ul>
          <div class="project-description">
            個人技術ブログ
          </div>
        </div>
      </a>

      <a href="https://github.com/aoirint/Dockernize" target="_blank" class="project">
        <img src="{{ page.path_to('/static/images/projects/dockernize.png') }}" class="project-image">
        <div class="project-text">
          <h3 class="project-title">Docker化関連</h3>
          <div class="project-year">2020-</div>
          <div class="project-role">個人開発</div>
          <ul class="project-tags">
            <li>Docker</li>
          </ul>
          <div class="project-description">
            各種Dockerfileの作成
          </div>
        </div>
      </a>

      <a href="https://github.com/aoirint/BiImageTransform" target="_blank" class="project">
        <img src="{{ page.path_to('/static/images/projects/blank.png') }}" class="project-image">
        <div class="project-text">
          <h3 class="project-title">PyTorch 4ch画像Transformライブラリ</h3>
          <div class="project-year">2020</div>
          <div class="project-role">個人開発</div>
          <ul class="project-tags">
            <li>PyTorch</li>
            <li>深層学習</li>
          </ul>
          <div class="project-description">
            カラー・マスクの4ch画像用Transformライブラリ
          </div>
        </div>
      </a>

      <a href="https://github.com/aoirint/SSBUFrameAnalyzer" target="_blank" class="project">
        <img src="{{ page.path_to('/static/images/projects/sbrossp.png') }}" class="project-image">
        <div class="project-text">
          <h3 class="project-title">スマブラSP 対戦画面解析</h3>
          <div class="project-year">2019</div>
          <div class="project-role">個人開発</div>
          <ul class="project-tags">
            <li>OpenCV</li>
            <li>OCR</li>
            <li>画像特徴量</li>
            <li>Python</li>
          </ul>
          <div class="project-description">
            スマブラSPの対戦画面から情報抽出
          </div>
        </div>
      </a>

      <a href="https://github.com/kanomiya" target="_blank" class="project">
        <img src="{{ page.path_to('/static/images/projects/blank.png') }}" class="project-image">
        <div class="project-text">
          <h3 class="project-title">Minecraft Modding</h3>
          <div class="project-year">2014-2018</div>
          <div class="project-role">個人開発</div>
          <ul class="project-tags">
            <li>Java</li>
            <li>Minecraft Forge</li>
          </ul>
          <div class="project-description">1.7.10-1.10.2</div>
        </div>
      </a>


    </div>

  </section>

  <section class="s-blog">
    <h2 class="section-title">ブログ</h2>
    <ul class="links">
      <li><a href="https://blog.aoirint.com/" target="_blank">えやみぐさ（blog.aoirint.com）</a>（25件、2020/09-）
      <li><a href="https://qiita.com/aoirint" target="_blank">Qiita</a>（10件、2020/01-2020/04）
      <li><a href="https://aoirint.hatenablog.com/" target="_blank">はてなブログ（aoirint.hatenablog.com）</a>（53件、2017/09-2020/09）
    </ul>
  </section>

  <section class="s-links">
    <h2 class="section-title">リンク</h2>
    <ul class="links">
      <li><a href="https://www.resume.id/aoirint" target="_blank">resume.id/aoirint</a>
      <li><a href="{{ page.path_to('favorite/index.md') }}">推し</a>
    </ul>
  </section>

  <section class="s-others">
    <h2 class="section-title">その他</h2>
    <p>
      アクセス状況の計測のためGoogleアナリティクスを使用しています。
  </section>

</div>
{% endblock body %}
