{% extends 'base.html' %}

{% block title %}
  {{ page.site_title | striptags }}
{% endblock %}


{% block content %}
<div class="container">

{% block article_index %}
  <div class="article-index">

{% for article in articles %}
{% block article_box scoped %}

    <article class="article">
      <h2 class="article-title"><a href="{{ page.path_to(article) }}">{{ article.title }}</a></h2>

      {{ article_metadata(article) }}

      <div class='article-summary'>{{ article.get_abstract(page.abstract_length if page.abstract_length else 256) | striptags }}</div>
    </article>

    <hr>

{% endblock article_box %}
{% endfor %}
  </div>

</div>
{% endblock article_index %}

{% block pagination %}
  {{ index_pagination(page, group_value, num_pages, cur_page, is_last) }}
{% endblock pagination %}

{% endblock content %}


{% block tocbar %}
{% endblock tocbar %}
