{# https://github.com/miyadaiku/miyadaiku/blob/master/miyadaiku/themes/base/templates/base.html #}
{% extends 'miyadaiku.themes.base!base.html' %}

{% block title %}{% if not page.get_config('no_page_title', false) %}{{ page.title | striptags }} - {% endif %}{{ page.site_title | striptags }}{% endblock %}

{% block head %}
{{ super() }}

{% if page.get_config('favicon', None) %}
<link rel="shortcut icon" href="{{ page.path_to(page.favicon) }}">
{% endif %}
{% if page.get_config('favicon_x32', None) %}
<link rel="icon" type="image/png" sizes="32x32" href="{{ page.path_to(page.favicon_x32) }}">
{% endif %}

{# https://github.com/miyadaiku/miyadaiku/blob/master/miyadaiku/themes/base/templates/macros.html #}
{{ macros.opengraph(page, abstract_length=128) }}

{% if page.category and page.tags %}
<meta name="keywords" content="{{ page.category }},{{ page.tags |join(",") }}">
{% elif page.category %}
<meta name="keywords" content="{{ page.category }}">
{% elif page.tags %}
<meta name="keywords" content="{{ page.tags |join(",") }}">
{% elif page.get_config('site_keywords') %}
<meta name="keywords" content="{{ page.site_keywords }}">
{% endif %}

<meta name="twitter:card" content="{{ page.get_config('twiiter_card', 'summary') }}">
{% if page.get_config('twitter_name', None) %}
<meta name="twitter:site" content="@{{ page.twitter_name }}">
<meta name="twitter:creator" content="@{{ page.twitter_name }}">
{% endif %}

<link href="{{ page.load('/tech/atom.yml').url }}" type="application/atom+xml" rel="alternate" title="{{ page.site_title }} Atom Feed" />
<link href="{{ page.load('/tech/rss.yml').url }}" type="application/rss+xml" rel="alternate" title="{{ page.site_title }} RSS Feed" />

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ page.path_to('/static/css/index.css') }}">

{{ fontawesome.load_css(page) }}
{{ pygments.load_css(page) }}

{{ macros.google_analytics() }}

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

{% endblock head %}

{% block body %}
{% endblock body %}
