{# https://github.com/miyadaiku/miyadaiku/blob/master/miyadaiku/themes/base/templates/base.html #}
{% extends 'miyadaiku.themes.base!base.html' %}

{% block title %}{% if not page.get_config('no_page_title', false) %}{{ page.title | striptags }} - {% endif %}技術メモ - {{ page.site_title | striptags }}{% endblock %}

{% block head %}
{{ super().rstrip() }}

{% from 'macros/meta_favicon.html' import meta_favicon %}{{ meta_favicon(page).strip() }}

{# https://github.com/miyadaiku/miyadaiku/blob/master/miyadaiku/themes/base/templates/macros.html #}
{{ macros.opengraph(page, abstract_length=128).strip() }}

{% from 'macros/meta_keywords.html' import meta_keywords %}
{{ meta_keywords(page).strip() }}

{% from 'macros/twitter_card.html' import twitter_card %}
{{ twitter_card(page).strip() }}

<link href="{{ page.load('/tech/atom.yml').url }}" type="application/atom+xml" rel="alternate" title="{{ page.site_title }} Atom Feed" />
<link href="{{ page.load('/tech/rss.yml').url }}" type="application/rss+xml" rel="alternate" title="{{ page.site_title }} RSS Feed" />

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ page.path_to('/static/css/index.css') }}">

{{ fontawesome.load_css(page).strip() }}
{{ pygments.load_css(page).strip() }}

{{ macros.google_analytics().strip() }}

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endblock head %}

{% block body %}
{% endblock body %}
